name: YouTube Network Engine

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install ffmpeg -y
        pip install google-api-python-client \
                    google-auth \
                    google-auth-oauthlib \
                    feedparser \
                    yt-dlp

    - name: Detect videos
      run: python detect.py | tee detect.log

    - name: Download video
      run: python download.py

    - name: Create variations
      run: python variation.py

    - name: Generate metadata
      run: python metadata.py

    - name: Random delay
      run: |
        DELAY=$((RANDOM % 7200))
        sleep $DELAY

    - name: Upload network videos
      env:
        YT_CREDENTIALS: ${{ secrets.YT_CREDENTIALS }}
      run: python Upload.py

    - name: Learning update
      run: python analytics.py
